* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.body {
  background-color: #fbf5f7;
  margin: 0 auto;
}

.container {
}

.aside {
  border-radius: 16px;
  margin: 20px;
  display: flex;
  padding: 40px 20px;
  width: 50%;
  background-color: #f9f1f5;
}

img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid slateblue;
}

.name {
  display: flex;
  color: darkblue;
  font-size: x-large;
  font-weight: bold;
}

span {
  color: gray;
  font-weight: 100;
  font-size: small;
}
