* {
  box-sizing: border-box;
}

.body {
  background-color: #fbf5f7;
  margin: 0 auto;
}

.container {
}

.aside {
  display: flex;

  width: 50%;
  background-color: #f9f1f5;
}

img {
  width: 55px;
  height: auto;
  border-radius: 50%;
  border: 0.5px solid slateblue;
}

.name {
  display: flex;
}
