* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.body {
  background-color: #fbf5f7;
  margin: 0 auto;
}

.container {
}

.aside {
  border-radius: 16px;
  margin: 20px;
  display: flex;
  padding: 40px 20px;
  width: 50%;
  background-color: #f9f1f5;
}

img {
  width: 55px;
  height: auto;
  border-radius: 50%;
  border: 1px solid gainsboro;
}

.name {
  display: flex;
  color: darkblue;
  font-size: x-large;
  font-weight: bold;
}
