* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #c5c5c5;
}

.aside {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  border-radius: 16px;
  margin: 20px;
  height: 850px;
  padding-left: 40px;
  padding-top: 20px;
  width: 50%;
  background-color: #fbe0f7;
}

.user {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-info {
  display: flex;

  flex-direction: column;
  margin-top: 10px;
}

img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid slateblue;
}

.name {
  color: darkblue;
  font-size: x-large;
  font-weight: bold;
}

span {
  line-height: 1.5;
  color: gray;
  font-weight: 100;
  font-size: small;
}

.user,
.category {
  padding-left: 0;
}

.category ul li {
  margin: 0;
  cursor: pointer;
  list-style: none;
  line-height: 2;
  color: slategrey;
  display: flex;
  align-items: center;
  gap: 10px;
}
