* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.body {
  background-color: #fbf5f7;
  margin: 0 auto;
}

.aside {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  border-radius: 16px;
  margin: 20px;
  height: 850px;
  padding: 40px 20px;
  width: 50%;
  background-color: #f9f1f5;
}

.user-info {
  display: flex;
  flex-direction: column;
}

img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid slateblue;
}

.name {
  display: flex;
  margin: 0 auto;
  color: darkblue;
  font-size: x-large;
  font-weight: bold;
}

span {
  margin: 5px auto;
  color: gray;
  font-weight: 100;
  font-size: small;
}
