* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 30px;
  background-color: #c5c5c5;
}

.aside {
  border: 2px solid wheat;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  margin: 20px;
  height: 850px;
  width: 400px;
  background-color: #fbe0f7;
  position: relative;
}

.user {
  padding: 20px;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-info {
  display: flex;

  flex-direction: column;
  margin-top: 10px;
}

img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid slateblue;
}

.name {
  color: darkblue;
  font-size: x-large;
  font-weight: bold;
}

span {
  margin: 5px 0;
  line-height: 1.5;
  color: gray;
  font-weight: 100;
}

.category-list {
  padding: 0;
}

.category ul li {
  margin: 0;
  font-size: large;
  cursor: pointer;
  list-style: none;
  line-height: 2;
  color: slategrey;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}
.category ul li::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 0;
  background-color: rgb(0, 0, 93);
  border-radius: 4px;
}

.category ul li.active {
  color: rgb(0, 0, 93);
  font-weight: 600;
}

.category ul li.active::before {
  height: 60%;
}

.menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  position: absolute;
  bottom: 24px;
  left: 24px;
  color: slategray;
  display: flex;
  align-items: center;

  cursor: pointer;
  font-weight: 500;
}

.menu-item:hover {
  color: red;
}

.main-container {
  padding: 40px;
}

.cards {
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.total-income {
  background-color: #fbe0f7;
  width: 320px;
  height: 100px;
  border-radius: 10px;
}

.total-expense {
  width: 320px;
  background-color: #fbe0f7;
  height: 100px;
  border-radius: 10px;
}

.total-balance {
  width: 320px;
  background-color: #fbe0f7;
  height: 100px;
  border-radius: 10px;
  grid-column: 1 / -1;
  justify-self: center;
  width: 50%;
}

.total-income,
.total-expense,
.total-balance {
  border: 2px solid wheat;
  position: relative;
}

.evidence {
  color: rgb(00, 00, 93);
  font-weight: 700;
  font-size: 1rem;
  position: absolute;
  top: 5px;
  left: 10px;
}
